body {
  margin: 10px;
}

.inter-400 {
  font-family: "Inter", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.header {
  border-radius: 20px 20px 0px 0px;
  display: flex;
  align-content: center;
  justify-content: center;
  background-color: #F55A5A;
}

.globe {
  align-self: center;
  width: 2rem;
  height: 2rem;
  padding: 0rem 0.5rem;
}

.title {
  font-size: 1em;
  color: white;
}